{% load i18n %}
{% load zinnia %}
{% load static %}

<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget search_widget">
        <div class="input-group">
            <form action="{% url 'zinnia:entry_search' %}"
                  method="get">
                <input name="pattern" value="{{ pattern }}" class="form-control"
                       type="text" required placeholder="Search Posts"/>
            </form>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="lnr lnr-magnifier"></i>
                </button>
            </span>
        </div>
        <div class="br"></div>
    </aside>

    <!--  This blog author details  -->
    {% for author in object.authors.all %}
    <aside class="single_sidebar_widget author_widget">
        <img alt=""
             class="author_img rounded-circle"
             src="{{ author.image }}">
        <h4><a href="{{ author.get_absolute_url }}">
            {{ author }}</a>
        </h4>
        <p>{{ author.designation }}</p>
        <!--<div class="social_icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
        </div>-->
        <p>{{ author.about }}</p>
        <div class="br"></div>
    </aside>
    {% endfor %}

    <!--  All Other authors  -->
    <aside class="single_sidebar_widget author_widget">
        <h3 class="widget_title">Authors</h3>
          {% get_authors %}
        <div class="br"></div>
    </aside>

    <!-- Calender UI need to improve
    <aside class="single_sidebar_widget calendar_widget">
        <h3 class="widget_title">Calender</h3>
          {% get_calendar_entries %}
        <div class="br"></div>
    </aside> -->

    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Popular Posts</h3>
          {% get_popular_entries %}
        <div class="br"></div>
    </aside>
    <!--<aside class="single_sidebar_widget ads_widget">
        <a href="#"><img alt=""
                         class="img-fluid"
                         src="img/blog/add.jpg"></a>
        <div class="br"></div>
    </aside>-->
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Post Catgories</h4>
        {% get_categories %}
        <div class="br"></div>
    </aside>
    <!--<aside class="single-sidebar-widget newsletter_widget">
        <h4 class="widget_title">Newsletter</h4>
        <p>
            Here, I focus on a range of items and features that
            we use in life without
            giving them a second thought.
        </p>
        <div class="form-group d-flex flex-row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i
                            aria-hidden="true"
                            class="fa fa-envelope"></i></div>
                </div>
                <input class="form-control"
                       id="inlineFormInputGroup"
                       onblur="this.placeholder = 'Enter email'"
                       onfocus="this.placeholder = ''"
                       placeholder="Enter email"
                       type="text">
            </div>
            <a class="bbtns" href="#">Subcribe</a>
        </div>
        <p class="text-bottom">You can unsubscribe at any
            time</p>
        <div class="br"></div>
    </aside>-->
    <aside class="single-sidebar-widget tag_cloud_widget">
        <h4 class="widget_title">Tags</h4>
        {% get_tag_cloud %}
        <div class="br"></div>
    </aside>
    <aside class="single-sidebar-widget archives_widget">
        <h4 class="widget_title">Archives</h4>
        {% get_archives_entries_tree %}
    </aside>
</div>