{% load i18n %}
<ul class="list cat-list">
  {% for category in categories %}
  <li{% if category.slug == context_category.slug %} class="current"{% endif %}>
    <a class="d-flex justify-content-between" href="{{ category.get_absolute_url }}"
       title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">
    <p>{{ category }}</p>
    <p>{{ category.count_entries_published }}</p>
        </a>
  </li>
  {% empty %}
  <li>
    {% trans "No categories yet." %}
  </li>
  {% endfor %}
</ul>
